{% extends 'portfolio/base.html' %}
{% block data %}

     <h1>Abdullah's Portfolio</h1>
    <a href="{% url 'blog:all_blog' %}">Blogs</a>
    <br>

    {% load static %}

    <img src="{% static 'portfolio/AbdullahNaveed.jpeg'  %}">
    <h1>
        <a href="{% static 'portfolio/CV(Abdullah).pdf' %}">Resume</a>
    </h1>
    <h1>This is my Personal Portfolio Home Page</h1>
    <h2>Enjoy</h2>
    <h1>
        {% for project in projects %}
       
        {{ project.title }}
        <br>
        {{ project.discription }}
        <br>
        <img src="{{ project.image.url }}" width="340" height="240">
        <br>
        {% if project.url %}
        <a href="{{ project.url }}" >Link</a>
        {% endif %}


        {% endfor %}

{% endblock %}