{% extends 'portfolio/base.html' %}
{% load static %}

{% block data %}
    <div class="row justify-content-center my-3">
        <div class="col-5">
            <img class="img-fluid" src="{% static 'portfolio/AbdullahFiraas.jpg' %}">
        </div>
    </div>

    <div class="row justify-content-center mb-3">
        <div class="col-md-9 text-center">
            <h1 id="hometext" class="font-weight-bold">Abdullah Naveed's Portfolio, Lives in Lahore</h1>
        </div>
    </div>

    <h1 class="mt-5">Portfolio</h1>
    <hr>

    <div class="row">
        {% for project in projects %}
            <div class="col-lg-4 col-md-6">
                {% if project.url %}
                    <a href="{{ project.url }}">
                        <img class="img-fluid mb-2" src="{{ project.image.url }}">
                    </a>
                {% else %}
                    <img class="img-fluid mb-2" src="{{ project.image.url }}">
                {% endif %}
                <h3>{{ project.title }}</h3>
                <p>{{ project.discription }}</p>
            </div>
        {% endfor %}
    </div>
{% endblock %}